<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis of Jewellery Manufacturers</title>
</head>
<body>
    <form action = "/result" method = "post">
        <input type="checkbox" id="metal" name="metal" >
        <label for="metal"> Metal</label><br>
        <input type="checkbox" id="gem" name="gem">
        <label for="gem"> Gemstone</label><br>
        <input type="checkbox" id="arti" name="arti" >
        <label for="arti"> Artificial</label><br> 
        <input type="checkbox" id="misc" name="misc" >
        <label for="misc"> Misc.</label><br> 
        <button class="btn btn-primary btn-lg" type="submit" >
            Click Here!
            </button>
    </form>
</body>
</html>